{% macro footer() %}
<style>
  .footer__bg {
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #f2f2f2;
    overflow-y: hidden;
  }

  .content-wrapper {
    margin: 0 auto;
    max-width: 87.5rem;
  }

  .content-margin {
    margin: 0 auto;
    max-width: 95%;
  }

  .parent__content-box--has-flex-col {
    display: flex;
    flex-direction: column;
    padding: 1.25em 0;
  }

  .child-parent__primary-col {
    display: flex;
    flex-direction: column;
    margin: 3.75em 0;
  }

  div.child__primary-row-items {
    align-self: center;
  }

  div.child__primary-row-items a {
    margin: 0 3.125em;
    display: inline-block;
  }

  div.child__primary-row-items a i {
    font-size: 3.125rem;
    color: #fafafa;
  }

  div.child__primary-row-items a span {
    display: none;
  }

  div.child__primary-row-items a:hover {
    opacity: 0.8;
  }

  div.child__primary-row-items a:active {
    opacity: 0.95;
  }

  .child-parent__secondary-col--has-flex-row {
    display: flex;
    justify-content: space-between;
    border-top: 1px ridge rgba(204, 204, 204, 0.4);
    border-bottom: 1px ridge rgba(204, 204, 204, 0.4);
    padding: 1.25em 0;
  }

  ul.child__primary-row-items {
    display: flex;
  }

  ul.child__primary-row-items li:not(:last-child)::after {
    position: absolute;
    top: 0;
    right: 12.8%;
    bottom: 0;
    font-weight: 900;
    color: #0f2d52;
    content: "-";
  }

  ul.child__primary-row-items li {
    position: relative;
    padding-right: 1.563em;
  }

  ul.child__primary-row-items li a {
    font: 1rem "Verdana";
    color: #0f2d52;
    text-decoration: none;
  }

  ul.child__primary-row-items li a:hover {
    opacity: 0.8;
  }

  ul.child__primary-row-items li a:active {
    opacity: 0.95;
  }

  .child__copyright {
    font: 1rem "Verdana";
    color: #0f2d52;
    opacity: 0.75;
  }

  @media screen and (max-width: 48em) {
    .child-parent__primary-col {
      margin: 3.125em 0;
    }

    div.child__primary-row-items a {
      margin: 0 clamp(1.563em, 6.9vw, 3.125em);
    }

    .child-parent__secondary-col--has-flex-row {
      justify-content: center;
      border-bottom: unset;
      padding-bottom: unset;
    }

    ul.child__primary-row-items li a:active {
      text-decoration: underline;
      text-underline-offset: 0.25em;
    }
  }

  @media screen and (max-width: 30em) {
    div.child__primary-row-items {
      display: flex;
      flex-direction: column;
    }

    div.child__primary-row-items a {
      display: flex;
      align-items: center;
      margin: 0 0 0.9375em;
      text-decoration: none;
    }

    div.child__primary-row-items a i {
      margin-right: 0.46875em;
      font-size: 2rem;
    }

    div.child__primary-row-items a span {
      display: inline;
      font: 1rem "Verdana";
      color: #0f2d52;
    }

    div.child__primary-row-items a:last-child {
      margin-bottom: 0;
    }

    div.child__primary-row-items a:active span {
      text-decoration: underline;
      text-underline-offset: 0.25em;
    }

    .child-parent__secondary-col--has-flex-row {
      flex-direction: column;
      align-items: center;
    }

    .child__copyright {
      margin-top: 0.625em;
      font-size: 0.906rem;
    }
  }
</style>

<p>&nbsp;</p>

<div class="sb-row" style="padding-top: 0px; text-align: center; justify-content: center; margin-top: 10px;">
  <div class="sb-col hb__buttons-blue"><a class="btn--invert-blue hb__play" href="{{ url_for('home.about') }}">About Us</a></div>

  <div class="sb-col hb__buttons-gold"><a class="btn--invert-gold hb__play" href="{{ url_for('home.past_projects') }}">Past Projects</a></div>

  <div class="sb-col hb__buttons-blue"><a class="btn--invert-blue hb__play" href="{{ url_for('events.event_redirect') }}">Event Registration</a></div>
  
  <div class="sb-col hb__buttons-gold"><a class="btn--invert-gold hb__play" href="{{ url_for('home.project_submission') }}">Submit a Project</a></div>
  
  <div class="sb-col hb__buttons-blue"><a class="btn--invert-blue hb__play" href="{{ url_for('registration.register') }}">Signup for News</a></div>
  
  <div class="sb-col hb__buttons-gold"><a class="btn--invert-gold hb__play" href="{{ url_for('update.enter_email') }}">Update Membership</a></div>

  <div class="i2gHome">
    <p>&nbsp;</p>
    <p>For any questions or comments, please send an email to: <a
            href="mailto:i2g@ucmerced.edu">i2g@ucmerced.edu</a>
    </p>
  </div>
</div>

</div>
<div id="footer" class="clearfix site-footer" role="contentinfo">
  <div class="container">
    <div id="footer-content" class="row-fluid footer-content">
    </div>


    <!-- /#bottom_navbar -->

  </div>
  <div class="final-foot">
    <div class="container">
      <div class="footer-links">

        <div class="fColumn">
          <h2>Additional Links</h2>
          <ul>
            <li><a href="https://www.ucmerced.edu" target="_blank" rel="noopener" title="UC Merced Home Page">UC
                Merced</a></li>
            <li><a href="https://news.ucmerced.edu" target="_blank" rel="noopener" title="UC Merced News">Newsroom</a>
            </li>
            <li><a href="https://www.ucmerced.edu/executive-leadership" target="_blank" rel="noopener"
                title="UC Merced Leadership">Executive Leadership</a></li>
            <li><a href="https://library.ucmerced.edu" target="_blank" rel="noopener"
                title="UC Merced Library">University Library</a></li>
            <li><a href="https://it.ucmerced.edu" target="_blank" rel="noopener"
                title="UC Merced Office of Information Technology">Office of Information Technology</a></li>
          </ul>
        </div>
        <div class="fColumn">
          <h2>Academics</h2>
          <ul>
            <li><a href="https://engineering.ucmerced.edu" target="_blank" rel="noopener"
                title="UC Merced School of Engieering">School of Engineering</a></li>
            <li><a href="https://naturalsciences.ucmerced.edu" target="_blank" rel="noopener"
                title="UC Merced School of Natural Sciences">School of Natural Sciences</a></li>
            <li><a href="https://ssha.ucmerced.edu" target="_blank" rel="noopener"
                title="UC Merced School of Social Sciences, Humanities, and Arts">School of Social Sciences, Humanities
                &amp; Arts</a></li>
            <li><a href="https://gallo.ucmerced.edu" target="_blank" rel="noopener"
                title="Ernest and Julio Gallo Management Program">Ernest &amp; Julio Gallo Management Program</a></li>
            <li><a href="https://graduatedivision.ucmerced.edu" target="_blank" rel="noopener"
                title="Division of Graduate Education">Division of Graduate Education</a></li>
            <li><a href="https://ue.ucmerced.edu" target="_blank" rel="noopener" title="Graduate Division">Division of
                Undergraduate Education</a></li>
          </ul>
        </div>
        <div class="fColumn">
          <h2>Administration</h2>
          <ul>
            <li><a href="https://chancellor.ucmerced.edu" target="_blank" rel="noopener"
                title="Office of the Chancellor">Office of the Chancellor</a></li>
            <li><a href="https://provostevc.ucmerced.edu" target="_blank" rel="noopener"
                title="Office of Executive Vice Chancellor and Provost ">Office of Executive Vice Chancellor and Provost
              </a></li>
            <li><a href="https://diversity.ucmerced.edu" target="_blank" rel="noopener"
                title="Office of Equity, Diversity and Inclusion">Equity, Justice and Inclusive Excellence</a></li>
            <li><a href="https://externalrelations.ucmerced.edu" target="_blank" rel="noopener"
                title="External Relations">External Relations</a></li>
            <li><a href="https://dfa.ucmerced.edu" target="_blank" rel="noopener"
                title="finance and administration">Finance &amp; Administration</a></li>
            <li><a href="https://popd.ucmerced.edu" target="_blank" rel="noopener"
                title="finance and administration">Physical Operations, Planning and Development</a></li>
            <li><a href="https://studentaffairs.ucmerced.edu" target="_blank" rel="noopener"
                title="UC Merced Student Affairs">Student Affairs</a></li>
            <li><a href="https://research.ucmerced.edu" target="_blank" rel="noopener"
                title="Office of Research and Economic Development">Research and Economic Development</a></li>
          </ul>
        </div>
        <div class="fColumn fAddress">
          <p><strong>University of California, Merced</strong>
            <br>5200 North Lake Rd.
            <br>Merced, CA 95343
            <br>Telephone: (209) 228-4400
          </p>
          <div class="socialIcons">
            <ul class="fa-ul inline">
              <li class="fa-li"><a href="https://www.facebook.com/ucmerced/" target="_blank" rel="noopener"
                  aria-label="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li class="fa-li"><a href="https://twitter.com/ucmerced" target="_blank" rel="noopener"
                  aria-label="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li class="fa-li"><a href="https://www.linkedin.com/company/22066" target="_blank" rel="noopener"
                  aria-label="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <ul>
      <li>© 2023</li>
      <li><a href="https://www.ucmerced.edu/about" title="" rel="noopener">About UC Merced</a></li>
      <li><a href="https://www.ucmerced.edu/maps-and-directions" title="" rel="noopener">Directions</a></li>
      <li><a href="https://directory.ucmerced.edu/" title="">Directory</a></li>
      <li><a href="https://www.ucmerced.edu/privacy-statement" title="" rel="noopener">Privacy/Legal</a></li>
      <li><a href="/contact-us" title="">Site Feedback</a></li>
      <li><a href="https://regents.universityofcalifornia.edu/" title="" rel="noopener">UC Regents</a></li>
      <li><a href="https://www.ucmerced.edu/Site-List-A-F" title="" rel="noopener">Site List</a></li>
    </ul>
  </div>
</div>
{% endmacro %}