{% macro nav() %}
<!-- NAVBAR -->
<div id="header" class="clearfix header" role="banner">
    <div class="container">
        <div class="row-fluid">
            <div class="header-section row-fluid span12">
                <!-- /#logo -->
                <div id="stickyHeader">
                    <div class="site-logo">
                        <a href="https://www.ucmerced.edu" title="Home" rel="home" style="border: none;"> <img
                                src="https://innovatetogrow.ucmerced.edu/sites/all/themes/UCMerced/ucmlogo.png"
                                alt="UC Merced logo" role="presentation"> </a>
                                
                    </div>
                    <a href="{{ url_for('home.mainpage') }}" style="width: 20%; margin: 0px 200px;"><img src="{{url_for('static', filename='images/I2G_logo.png') }}" alt="I2G Logo"></a>

                    <div class="quick-links" id="quickLinksNavigation">
                        <a href="https://directory.ucmerced.edu/?_gl=1*12bbiew*_ga*MzM3MTQxMzQ2LjE2ODA3MzU0MDM.*_ga_TSE2LSBDQZ*MTY4MDczODY2My4yLjEuMTY4MDczODY2My42MC4wLjA." target="_blank"
                            rel="noopener">Directory</a>
                        <a href="https://admissions.ucmerced.edu/first-year/apply?button" target="_blank"
                            rel="noopener">Apply</a>
                        <a href="http://giving.ucmerced.edu/" target="_blank" rel="noopener">Give</a>

                    </div>

                </div>
            </div>
            <!-- /#header-content -->
        </div>
        <!-- /#site-login -->
        <!-- /#site-login -->
    </div>
</div>
<div id="siteName">
    <div class="container">
        <div class="row-fluid">
            <div class="name-slogan span12">
                <div id="site-name" class="site-name"><a href="{{ url_for('home.mainpage') }}" title="Home"
                        rel="home">Innovate
                        To Grow</a></div>
                <!-- <div id="site-slogan" class="site-slogan">School of Engineering</div> -->
            </div>
        </div>
    </div>
</div>
<div id="main-menu" class="clearfix site-main-menu">
    <div class="container">
        <div class="navbar row-fluid">
            <div class="navbar-inner1 span12">
                <button aria-label="Navigation menu" class="btn-navbar collapsed" data-toggle="collapse"
                    data-target=".nav-collapse"> <span class="hide">Navigation menu</span> <span
                        class="icon-bar top-bar"></span> <span class="icon-bar middle-bar"></span> <span
                        class="icon-bar bottom-bar"></span> </button>
                <div class="nav-collapse collapse">
                    <nav id="main-nav" role="navigation">
                        <div class="region region-navigation clearfix">
                            <div id="block-superfish-1" class="clearfix block block-superfish">
                                <h2>Main menu</h2>
                                <div class="content">
                                    <ul id="superfish-1"
                                        class="sf-menu main-menu sf-horizontal sf-style-none sf-total-items-10 sf-parent-items-5 sf-single-items-5">                                        
                                        <!-- logo -->
                                        <li style="width: 5%; margin-top: -3px; border-bottom: 0px;"><a href="{{ url_for('home.mainpage') }}"><img src="{{url_for('static', filename='images/i2glogo.png') }}"></a></li>
                                        
                                        <li id="menu-548-1" class="first odd sf-item-1 sf-depth-1 sf-no-children"><a
                                                href="{{ url_for('home.mainpage') }}" title=""
                                                class="sf-depth-1  active">Home</a></li>
                                        <li id="menu-538-1"
                                            class="middle even sf-item-2 sf-depth-1 sf-total-children-3 sf-parent-children-0 sf-single-children-3 menuparent">
                                            <a href="{{ url_for('home.about') }}" class="sf-depth-1  menuparent">About</a>
                                            <ul>
                                                <li id="menu-4471-1"
                                                    class="first odd sf-item-1 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.engineering_capstone') }}" title=""
                                                        class="sf-depth-2 ">Engineering Capstone</a>
                                                </li>
                                                <li id="menu-544-1"
                                                    class="middle even sf-item-2 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.about_EngSL') }}" title=""
                                                        class="sf-depth-2 ">Eng.
                                                        Service Learning</a></li>
                                                <li id="menu-4481-1"
                                                    class="last odd sf-item-3 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.software_capstone') }}" title=""
                                                        class="sf-depth-2 ">Software Eng. Capstone</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-5291-1"
                                            class="middle odd sf-item-3 sf-depth-1 sf-total-children-7 sf-parent-children-0 sf-single-children-7 menuparent">
                                            <a href="{{ url_for('home.event') }}" title=""
                                                class="sf-depth-1  menuparent">Events</a>
                                            <ul>
                                                <li id="menu-5301-1"
                                                    class="first odd sf-item-1 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('events.event_redirect') }}" title=""
                                                        class="sf-depth-2 ">Registration</a></li>
                                                <li id="menu-5301-1"
                                                    class="first odd sf-item-2 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.event') }}" title=""
                                                        class="sf-depth-2 ">Info</a></li>
                                                <li id="menu-5371-1"
                                                    class="middle even sf-item-3 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.schedule') }}" title=""
                                                        class="sf-depth-2 ">Schedule</a></li>
                                                <li id="menu-5321-1"
                                                    class="middle odd sf-item-4 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.projects_teams') }}" title=""
                                                        class="sf-depth-2 ">Projects &amp; Teams</a></li>
                                                <li id="menu-5331-1"
                                                    class="middle even sf-item-5 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.judges') }}" title=""
                                                        class="sf-depth-2 ">for
                                                        Judges</a></li>
                                                <li id="menu-5341-1"
                                                    class="middle odd sf-item-6 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.attendees') }}" title=""
                                                        class="sf-depth-2 ">for
                                                        Attendees</a></li>
                                                <li id="menu-5351-1"
                                                    class="middle even sf-item-7 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.students') }}" title=""
                                                        class="sf-depth-2 ">for
                                                        Students</a></li>
                                                <li id="menu-5361-1"
                                                    class="last odd sf-item-8 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.acknowledgement') }}" title=""
                                                        class="sf-depth-2 ">Partners &amp; Sponsors</a></li>
                                                <li id="menu-5361-1"
                                                    class="last odd sf-item-9 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.past_events') }}" title=""
                                                        class="sf-depth-2 ">Past Events</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-4551-1"
                                            class="middle odd sf-item-4 sf-depth-1 sf-total-children-4 sf-parent-children-0 sf-single-children-4 menuparent">
                                            <a href="{{ url_for('home.projects') }}" title=""
                                                class="sf-depth-1  menuparent">Projects</a>
                                            <ul>
                                                <li id="menu-4691-1"
                                                    class="first odd sf-item-1 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.past_projects') }}" title=""
                                                        class="sf-depth-2 ">Past
                                                        Projects</a></li>
                                                <li id="menu-4561-1"
                                                    class="middle even sf-item-2 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.current_projects') }}" title=""
                                                        class="sf-depth-2 ">Current Projects</a></li>
                                                <li id="menu-4571-1"
                                                    class="middle odd sf-item-3 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.project_submission') }}" title=""
                                                        class="sf-depth-2 ">Project Submission</a></li>
                                                <li id="menu-4581-1"
                                                    class="last even sf-item-4 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.sample_proposals') }}" title=""
                                                        class="sf-depth-2 ">Sample Project Proposals</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="menu-833-1"
                                            class="middle odd sf-item-5 sf-depth-1 sf-total-children-4 sf-parent-children-0 sf-single-children-4 menuparent">
                                            <a href="{{ url_for('home.partnership') }}"
                                                class="sf-depth-1  menuparent">Partner with
                                                Us</a>
                                            <ul>
                                                <li id="menu-5301-1"
                                                    class="first odd sf-item-1 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('registration.register') }}" title=""
                                                        class="sf-depth-2 ">Newsletter</a></li>
                                                <li id="menu-5301-1"
                                                    class="first odd sf-item-2 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('update.enter_email') }}" title=""
                                                        class="sf-depth-2 ">Update I2G Membership</a></li>
                                                <li id="menu-5301-1"
                                                    class="first odd sf-item-3 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('events.event_redirect') }}" title=""
                                                        class="sf-depth-2 ">Event Registration</a></li>
                                                <li id="menu-4721-1"
                                                    class="first odd sf-item-4 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.project_submission') }}" title=""
                                                        class="sf-depth-2 ">Propose a project</a></li>
                                                <li id="menu-4711-1"
                                                    class="middle even sf-item-5 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.judges') }}" title=""
                                                        class="sf-depth-2 ">Sign up to
                                                        Judge</a></li>
                                                <li id="menu-647-1"
                                                    class="middle odd sf-item-6 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.sponsorship') }}" title=""
                                                        class="sf-depth-2 ">Sponsor
                                                        or donate</a></li>
                                                <li id="menu-2511-1"
                                                    class="last even sf-item-7 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.faq') }}" class="sf-depth-2 ">FAQs</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="menu-3971-1" class="middle even sf-item-8 sf-depth-1 sf-no-children"><a
                                                href="{{ url_for('home.project_submission') }}"
                                                class="sf-depth-1 ">Submit a Project</a></li>
                                        <li id="menu-4661-1"
                                            class="middle odd sf-item-6 sf-depth-1 sf-total-children-5 sf-parent-children-0 sf-single-children-5 menuparent">
                                            <a href="{{ url_for('home.students') }}" title=""
                                                class="sf-depth-1  menuparent">Students</a>
                                            <ul>
                                                <li id="menu-4671-1"
                                                    class="first odd sf-item-1 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.I2G_student_agreement') }}" title=""
                                                        class="sf-depth-2 ">Student Agreement</a></li>
                                                <li id="menu-5381-1"
                                                    class="middle even sf-item-2 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.ferpa') }}" title=""
                                                        class="sf-depth-2 ">FERPA (Media)
                                                        Agreement</a></li>
                                                <li id="menu-4801-1"
                                                    class="middle odd sf-item-3 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.i2g_students_preparation') }}" title=""
                                                        class="sf-depth-2 ">Event preparation </a>
                                                </li>
                                                <li id="menu-4791-1"
                                                    class="middle even sf-item-4 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.video_preparation') }}" title=""
                                                        class="sf-depth-2 ">Video preparation</a></li>
                                                <li id="menu-2651-1"
                                                    class="last odd sf-item-5 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.capstone_purchasing_reimbursement_forms') }}"
                                                        class="sf-depth-2 ">Purchasing |
                                                        Travel</a></li>
                                            </ul>
                                        </li>
                                        <!-- <li id="menu-521-1" class="last even sf-item-7 sf-depth-1 sf-no-children">
                                            <a href="{{ url_for('home.contact_us') }}" title=""
                                                class="sf-depth-1 ">Contact Us</a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <div id="now-date-weather"><span id="today"></span> <span id="weather"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}