{% macro scripts() %}
<script>(function (d) { var s = d.createElement("script"); s.setAttribute("data-account", "6Uvgvyrrph"); s.setAttribute("src", "https://cdn.userway.org/widget.js"); (d.body || d.head).appendChild(s); })(document)</script>
<noscript>Please ensure Javascript is enabled for purposes of <a href="https://userway.org">website
        accessibility</a></noscript>
<script src="{{ url_for('static',filename='js/js-siteimprove.js') }}" async></script>
<script type="text/javascript"
    src="{{ url_for('static',filename='js/js-js_XexEZhbTmj1BHeajKr2rPfyR8Y68f4rm0Nv3Vj5_dSI.js') }}"></script>
<script type="text/javascript"
    src="{{ url_for('static',filename='js/js-js_jcCq6mIiUQO8UVHPQGodwBB20SVk57zQ9OUDx6L6OC0.js') }}"></script>
<script type="text/javascript"
    src="{{ url_for('static',filename='js/js-js_lYXBf5jBOEeuCcZ1EEfWM3cnZXJ6-B6AuswWtJ1JGSw.js') }}"></script>
<script type="text/javascript"
    src="{{ url_for('static',filename='js/js-js_jWvMRvZ8oKDPkw7PO6dSKi88lBTsNPnOLr3hiyfvSnE.js') }}"></script>
<script type="text/javascript"
    src="{{ url_for('static',filename='js/js-js_Btvj6RNWy6mW_Y-FXH9a4UVDI19MXIlXYDvxbme4QeE.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="{{ url_for('static',filename='js/recaptcha-api.js') }}" async="async" defer></script>
{% endmacro %}