{% extends "membership/layout.html" %}

{% block content %}

<style>
    h1, h2, h3, p {
        text-align: left;
        margin-left: 15%;
    }
</style>

<br>
<h1> {{ event_name }} Registration Completed </h1>
<p>Dear {{ first }} {{ last }},</p>
<br>
<p>You have successfully registered for {{ event.name }} </p>
<p>Below is a summary of your membership information. If you have any questions, please contact us <a href="mailto:i2g@ucmerced.edu">here.</a></p>
<p>Update your membership anytime <a href="{{ update_url }}">here.</a></p>
<br>
<br>

<h2>Membership Information:</h2>
<div>
    <p> Primary Email: {{ primary_email }} {% if primary_verified == "TRUE" %}(Verified){% else %}(Unverified){% endif %} {% if primary_subscribed == "TRUE" %}(Subscribed){% else %}(Unsubscribed){% endif %}</p>
</div>
<div>
    <p> Secondary Email: {{ secondary_email }} {% if secondary_verified == "TRUE" %}(Verified){% else %}(Unverified){% endif %} {% if secondary_subscribed == "TRUE" %}(Subscribed){% else %}(Unsubscribed){% endif %}</p>
</div>
<br>
<br>

<h2>Other Information:</h2>
<div>
{% for key, value in info_fields.items() %}
    <p>{{ key }}: {{ value }}</p>
{% endfor %}
</div>

{% if event_fields %}
<br>
<h3>Event Information:</h3>
<p><strong>{{ event_name }}</strong></p>
<div>
    {% for key, value in event_fields.items() %}
        <p>{{ key }}: {{ value }}</p>
    {% endfor %}
</div>

{% elif not event_fields and event_url is not none %}
<br>
<h3>Event Registration:</h3>
<p>Not Registered - Click <a href = "{{ event_url }}">here</a> to register for {{ event_name }}</p>
{% endif %}
{% endblock %}