<style>
    p { 
        margin: 5px;
    }

    br {
        margin-top: 10px;
    }
</style>

<p>Dear {{ first }} {{ last }},</p>

<br>

<p> Your email entered for registration in the I2G double mail system: </p>
<p> {{ email }} </p>
<p> has been removed from our database due to not verifying after an extended period of time. </p>

<br>
<p> Thank you, the I2G Team - <a href="i2g.ucmerced.edu">i2g.ucmerced.edu</a> - <a href="mailto:i2g@ucmerced.edu">i2g@ucmerced.edu</a> </p>
<p> School of Engineering, University of California, Merced </p>
<p> 5200 North Lake Road, Merced, California 95343 US </p>