{% extends "membership/layout.html" %}

{% block content %}
<br>
<h1 style="background: #FFA2AA;
color: #2c3e50;
text-align: center;
width: fit-content; padding: 5px;">ERROR 02</h1>
<p style="background: #FFA2AA;
color: #2c3e50;
text-align: center;
width: fit-content;">
<p>Your email may have been removed from our database due to not verifying after an extended period of time.</p>
<p>Please try again later and contact the <a href="mailto:i2g@ucmerced.edu">administrator</a> if the problem persists.
</p>

{% endblock %}