<style>
    p { 
        margin: 5px;
    }

    br {
        margin-top: 10px;
    }
</style>

<p> Dear {{ first }} {{ last }},</p>

<br>

<p> Please click on "Confirm Email" to verify ownership for the registration of this email for your I2G membership.</p>
<p> <a href="{{ confirm_url }}">Confirm Email</a></p>

<br>

<p> Please notice: </p>
<p> - this link is only valid for 10 minutes </p>
<p> - if the link has expired, you will be prompted to request a new confirmation link </p>
<p> - if you did not initiate this action, please ignore this email </p>
<p> - this is a "double email" membership system, and you shall receive a verification message to the other email as well </p>
<p> - if you do not verify either email address within 2 days it will not be associated to your membership, and it may be open for other registrations </p>


<br>

<p> Thank you, the I2G Team - <a href="i2g.ucmerced.edu">i2g.ucmerced.edu</a> - <a href="mailto:i2g@ucmerced.edu">i2g@ucmerced.edu</a> </p>
<p> School of Engineering, University of California, Merced </p>
<p> 5200 North Lake Road, Merced, California 95343 US </p>