{% extends "membership/layout.html" %}
{% import "membership/render_helper.html" as forms %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="clearfix main">
  <div class="container">
    <div class="content">
      <h1 class="title" style="text-align: center;">Update Your I2G Membership</h1>
      <h4 class="subtitle" style="text-align: center;">Enter one of the emails that you used to sign up</h4>
      <hr class="line" style="margin: auto;">
    </div>

    <br>

    <form class="" action="{{ url_for('update.enter_email') }}" method=post>
      {{ form.hidden_tag() }}

      <div class="input-row">
        {{ forms.render(form) }}
      </div>

      <div class="submit-container">
        {{ form.submit }}
      </div>
      <br>
    </form>

  </div>
</div>

<script>
  const submitBtn = document.getElementById("submit");
  submitBtn.addEventListener("click", function() {
    submitBtn.style.pointerEvents = "none";

    setTimeout(function() {
      submitBtn.style.pointerEvents = "auto";
    }, 3000);
  });
</script>

{% endblock %}