{% extends "membership/layout.html" %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
    h1 {
       background: #FFA2AA;
       color: #2c3e50;
       text-align: center;
       width: fit-content;
       padding: 5px;
    }
</style>

<br>
<h1>ERROR 04</h1>
<p>At least one of your emails is already registered.</p>
<p>Please try again later and contact the <a href="mailto:i2g@ucmerced.edu">administrator</a> if the problem persists.</p>
</div>

{% endblock %}