{% extends "membership/layout.html" %}
{% import "membership/render_helper.html" as forms %}

{% block content %}
<br>
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="clearfix main">
    <div class="container">
        <div class="content">
            <h2>Update your information below</h2>
        </div>
        <form class="" action="{{ url_for('update.update_info', token=token) }}" method=post>
            {{ form.hidden_tag() }}

            <div class="input-row">
                {{ forms.render(form) }}
            </div>

            <div class="submit-container">
                {{ form.submit }}
            </div>
            <br>

        </form>

    </div>
</div>


<script>
    const submitBtn = document.getElementById("submit");
    submitBtn.addEventListener("click", function() {
        submitBtn.style.pointerEvents = "none";

        setTimeout(function() {
        submitBtn.style.pointerEvents = "auto";
        }, 3000);
    });

    const registerCheckbox = document.querySelector('#register_event');
    const eventDivs = document.querySelectorAll('div[id^="event_"]');

    registerCheckbox.addEventListener('change', function () {
        if (this.checked) {
            eventDivs.forEach(div => {
                div.style.display = 'block';
                div.querySelectorAll('input').forEach(input => {
                    input.setAttribute('required', '');
                });
            });
        } else {
            eventDivs.forEach(div => {
                div.style.display = 'none';
                div.querySelectorAll('input').forEach(input => {
                    input.removeAttribute('required');
                });
            });
        }
    });

    window.addEventListener('load', function () {
        registerCheckbox.dispatchEvent(new Event('change'));
    });

    window.addEventListener('pageshow', function (event) {
        if (event.persisted) {
            registerCheckbox.dispatchEvent(new Event('change'));
        }
    });

</script>

{% endblock %}