{% extends 'admin/master.html' %}
{% block body %}

<h3> {{ label }} </h3>
<br>
<form action="{{ url_for('catch_bounces.start') }}" method=post>
    <input type="submit" id="submit" value="Catch Bounces" class="btn btn-default">
</form>

<script>
    const submitBtn = document.getElementById("submit");
    submitBtn.addEventListener("click", function() {
      submitBtn.style.pointerEvents = "none";
  
      setTimeout(function() {
        submitBtn.style.pointerEvents = "auto";
      }, 3000);
    });
</script>

{% endblock body%}
