<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(function () {
                $("#field_type").change();
            });

            $("#addNewField").click(function () {
                if ($(".options-input div:last").length == 0) {
                    var id = 1;
                }
                else {
                    var id = parseInt($(".options-input div:last").attr("id")) + 1;
                }

                var newInput = $('<div class="wrapper"><input type="text" class="col-xs-9" name=options-' + id + '> <input type="button" value="Remove" class="remove">' + '<br></br></div>')
                newInput.attr("id", id);

                $(".options-input").append(newInput);
            });

            $("body").on("click", ".remove", function () {
                $(this).closest('div').remove();
            });

            $("#field_type").on('change', function () {
                if ($(this).val() == 'Text') {
                    $("#options").empty();
                    $(".form-control-options").hide();
                } else {
                    $(".form-control-options").show();
                }
            });
        });
    </script>
</head>

<style>
    .options-label {
        margin-top: 10px;
        margin-left: 70px;
        font-weight: bold;
    }

    .wrapper {
        margin-left: 165px;
        margin-top: -20px;
        margin-bottom: 5px;
    }

    .add {
        margin-top: 10px;
    }

    .remove {
        margin-left: 5px;
    }
</style>

{% extends 'admin/model/edit.html' %}

{% block body %}
{% call lib.form_tag(form) %}
<div class="row">
    <div class="col-xs-10">
        {{ lib.render_form_fields([form.label])}}
    </div>
</div>
<div class="row">
    <div class="col-xs-10">
        {{ lib.render_form_fields([form.required])}}
    </div>
</div>
<div class="row">
    <div class="col-xs-10">
        {{ lib.render_form_fields([form.field_type])}}
    </div>
</div>
<div class="row">
    <div class="form-control-options" style="display: none">
        <div class="col-xs-10">
            <div class="options-label"> Options </div>
            <div class="options-input">
                {% for option in form.options %}
                <div id="{{ loop.index }}" class="wrapper">
                    {{ option(class="col-xs-9") }}
                    <input type="button" value="Remove" class="remove">
                    <br></br>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-2">
            <button type="button" id="addNewField" class="add">Add Option</button>
        </div>
    </div>
</div>
<div class="form-buttons">
    {{ lib.render_form_buttons(return_url) }}
</div>
{% endcall %}
{% endblock %}