<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#addNewTicket").click(function () {
                if ($(".tickets-input div:last").length == 0) {
                    var id = 1;
                }
                else {
                    var id = parseInt($(".tickets-input div:last").attr("id")) + 1;
                }

                var newInput = $('<div class="wrapper"><input type="text" class="col-xs-9" name=tickets-' + id + '> <input type="button" value="Remove" class="remove">' + '<br></br></div>')
                newInput.attr("id", id);

                $(".tickets-input").append(newInput);
            });

            $("#addNewQuestion").click(function () {
                if ($(".questions-input div:last").length == 0) {
                    var id = 1;
                }
                else {
                    var id = parseInt($(".questions-input div:last").attr("id")) + 1;
                }

                var newInput = $('<div class="wrapper"><input type="text" class="col-xs-9" name=questions-' + id + '> <input type="button" value="Remove" class="remove">' + '<br></br></div>')
                newInput.attr("id", id);

                $(".questions-input").append(newInput);
            });

            $("body").on("click", ".remove", function () {
                $(this).closest('div').remove();
            });
        });
    </script>
</head>

<style>
    .tickets-label {
        margin-top: 10px;
        margin-left: 70px;
        font-weight: bold;
    }

    .questions-label {
        margin-top: 10px;
        margin-left: 70px;
        font-weight: bold;
    }

    .wrapper {
        margin-left: 165px;
        margin-top: -20px;
        margin-bottom: 5px;
    }

    .add {
        margin-top: 10px;
    }

    .remove {
        margin-left: 5px;
    }
</style>

{% extends 'admin/model/create.html' %}

{% block body %}
{% call lib.form_tag(form) %}
<div class="row">
    <div class="col-xs-10">
        {{ lib.render_form_fields([form.name])}}
    </div>
</div>
<div class="row">
    <div class="col-xs-10">
        {{ lib.render_form_fields([form.date])}}
    </div>
</div>
<div class="row">
    <div class="col-xs-10">
        {{ lib.render_form_fields([form.time])}}
    </div>
</div>
<div class="row">
    <div class="col-xs-10">
        {{ lib.render_form_fields([form.location])}}
    </div>
</div>
<div class="row">
    <div class="col-xs-10">
        {{ lib.render_form_fields([form.description])}}
    </div>
</div>
<div class="row">
    <div class="col-xs-10">
        {{ lib.render_form_fields([form.live])}}
    </div>
</div>
<div class="row">
    <div class="form-control-tickets">
        <div class="col-xs-10">
            <div class="tickets-label"> Tickets </div>
            <div class="tickets-input">
                {% for ticket in form.tickets %}
                <div id="{{ loop.index }}" class="wrapper">
                    {{ ticket(class="col-xs-9") }}
                    <input type="button" value="Remove" class="remove">
                    <br></br>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-2">
            <button type="button" id="addNewTicket" class="add">Add Ticket</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-control-questions">
        <div class="col-xs-10">
            <div class="questions-label"> Questions </div>
            <div class="questions-input">
                {% for question in form.questions %}
                <div id="{{ loop.index }}" class="wrapper">
                    {{ question(class="col-xs-9") }}
                    <input type="button" value="Remove" class="remove">
                    <br></br>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-2">
            <button type="button" id="addNewQuestion" class="add">Add Question</button>
        </div>
    </div>
</div>
<div class="form-buttons">
    {{ lib.render_form_buttons(return_url) }}
</div>
{% endcall %}
{% endblock %}